<div id='user_nav_container'>
  <a><%= window.current_user.username %></a>
  <nav id='user_nav'>
    <a href='/#/user/<%= window.current_user.id %>'>Your pins</a>
    <a href='/#/user/<%= window.current_user.id %>/likes'>Your likes</a>
    <a href='/#/user/<%= window.current_user.id %>/followed_songs'>Your songs</a>
    <a href='/#/user/<%= window.current_user.id %>/followed_bands'>Your bands</a>
    <a href='/#/song/most_popular'>Most popular songs</a>
    <a href='/#/band/most_popular'>Most popular bands</a>
    <a href='/#/all'>All pins</a>
    <form action="/session" class="button_to" method="post">
        <input name="_method" type="hidden" value="delete">
        <input class='log-out-link' type="submit" value="Log out">
    </form>
  </nav>
</div>

<a href='#' class='logo'>Music Pins</a>

<a class='add_pin' >Add a pin</a>





