<p>
  <a href='#/user/<%= pin.get('user').id %>'>
    <%= pin.get('user').username %>
  </a>
  pinned a photo for
  <a href='#/song/<%= pin.get('song').id %>'>
    <%= pin.get('song').title %>
  </a>
    by
  <a href='#/band/<%= pin.get('band').id %>'>
    <%= pin.get('band').name %>
  </a>
</p>
<a class='focus_link' href='#/pin/<%= pin.get('id') %>'><img src="<%= pin.escape('link') %>" ></a>
<p><%= pin.escape('text') %></p>
<footer>
  <div class='likes'>
  </div>

  <!-- <div class='likes'>&hearts; <%= pin.get('likes').length %></div> -->
  <div class='comments_count'>
    <a href='#/pin/<%= pin.get('id') %>'>
      <%= pin.get('comments').length %> comment<%= pin.get('comments').length > 1 ? 's' : '' %>
    </a>
  </div>
</footer>

