<div class='white_overlay'></div>

<div class='focus_container'>
  <p>
  <a href='#/user/<%= pin.get('user').id %>'>
    <%= pin.get('user').username %>
  </a>
  pinned a photo for
  <a href='#/song/<%= pin.get('song').id %>'>
    <%= pin.get('song').title %>
  </a>
    by
  <a href='#/band/<%= pin.get('band').id %>'>
    <%= pin.get('band').name %>
  </a>
  </p>

  <div class='likes'>
  </div>

  <img src="<%= pin.escape('link') %>" >

<p><%= pin.escape('text') %></p>
</div>

